.merchantSectionImg {
  text-align: center;
  padding: 0 122px;
  img  {
    width: auto;
  }
  span {
    text-transform: none;
    font-family: 'LatoBold';
    font-size: 16px;
    color: #FFFFFF;
  }
}
.h4 {
  text-transform: uppercase;
  font-family: 'LatoBold';
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.starttosell {
  padding: 0 0 0 65px;
}
.smallmerchantTextInfo {
  color: #d9ecf8;
  font-family: 'LatoRegular';
  font-size: 13px;
}
.upload {
  padding: 0 22px;
}
.lineImg {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.benefits__SectionImg_thubm {
  line-height: 6.5;
}